<%= form_for(@user, url: "/users", method: "post") do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: 'example@example.com' %>
  <%= f.label :username, 'Your username here' %>
  <%= f.text_field :username  %>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Submit" %>
<% end %>

<% if false %>
<!-- <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/users" method="post" accept-charset="UTF-8">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label for="email">Email:</label>
      <input type="text" name="user[email]" class='form_control'>

      <label for="username">Username:</label>
      <input type="text" name="user[username]" class='form_control'>

      <label for="password">Password:</label>
      <input type="password" name="user[password]" class='form_control'>

      <input type="submit" value="Submit">
    </form>
  </div>
</div> -->

<%# <%= form_tag '/users', method: 'post' do %>
  <%= label_tag :email, 'Email:' %>
  <%= email_field_tag :email %>
  <%= label_tag :username, 'Username:' %>
  <%= text_field_tag :username %>
  <%= label_tag :password, 'Password:' %>
  <%= password_field_tag :password %>
  <%= submit_tag 'Submit' %>
<% end %> %>
%>
